:root {
    --primaryCol1 : rgb(202, 163, 112);
    --primaryCol2 : rgb(38, 70, 130);
    --primaryCol3 : #C6E2A5;
    --primaryCol4 : #f3f3f3ff;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 17px;
	color: #061C37;
	background-color: var(--primaryCol4);
}

* {
    margin: 0 auto 0 auto;
    text-align:left;
}

#content {
    width:90%;
    height:auto;
    background-color:#FFF;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

#container {
    height: -5px;
    width:95%;
  }



img.banner {
    max-width:100%;
    max-height:100%;
}

#menu {
    width:100%;
    float:left;
    display: flex;
}



#footer {
    width:inherit;
    height:inherit;
}

.hyperlink {
    width: 45px;
    height: 45px;
    float:right; 
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:10000px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a,#menu a:visited {
	float: left;
	width: 180px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color:#3C3504;
	font-weight: bold;
	padding-top: 16px;
	font-size: 17px;
}

#menu a:hover{
	color: var(--primaryCol1);
}

html, body {
    text-align: center;
}
p {
    text-align: left;
}