table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    width: 33%;
    height: 10%;

  }
  
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #column {
    width: 100%;
  }

#people  {
    width:100;
    height:100;
  }

  .center {
    text-align-last: center;
    font-weight: bold;
  }